<%= stylesheet_link_tag    "devise" %>

<% if user_signed_in? %>
<br/><br/>
<div id="devise_block_extra">
	<div id="section_header"><%= t(:welcome)+" "+current_user.username %></div>
	<br/>
	<p>Ja estàs registrat a <b><span style="font-size:16px;"><%= Configuration.value(:sitename)%>!</span></b></p>
	<p>A partir d'ara podràs comentar les notícies, crear debats, introduïr esdeveniments a la agenda i molt més. Si tens qualsevol dubte sobre el funcionament del portal envia'ns un email mitjançant el botó de "Contacta" al menú superior. </p>
	<br/>
	<br/>
	<p style="text-align:right; font-style:italic;">Atentament, l'equip de <%= Configuration.value(:sitename)%></p>
</div>
<br/><br/>
<% else %>


<div id="devise_block_extra">
	<div id="section_header"><%=t(:resend_mail)%></div>
		
			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>
			<br>
			<% 
			browser = request.env['HTTP_USER_AGENT'] 
			ie = false
			ie = true if browser.include? "MSIE" or browser.include? "MSI"
			%>
			
			<%= t(:email) if ie %>
			 <div><%= f.text_field :email, :placeholder => t(:email), :class => "devise_field" %></div>
			<br>
			 <div><%= f.submit :id => "devise_button", :class => "btn-success span3", :value => t(:resend) %></div>
			<% end %>

			<%= render :partial => "devise/shared/links" %>
		
</div>
<% end %>