<% if user_signed_in? %>
	<p>Logged as <b><%= current_user.email %></b>. If not are you, please <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>.</p>
	<%= render 'article_comments/form' %>

<% else %>
	
	<p>You need to be an user to add comments to this article.</p>
	 <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
	
<% end %>

