<%= stylesheet_link_tag    "devise" %>

<div class="row_sign"
	<div id="sign_in">
		<h2>Sign up</h2>
		<br>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.email_field :email, :placeholder => "Email" %></div><br>

		  <div><%= f.password_field :password, :placeholder => "Password" %></div><br>

		  <div><%= f.password_field :password_confirmation, :placeholder => "Repeat Password" %></div><br>

		  <div><%= f.submit :class => "btn primary span4", :value => "Sign Up" %></div>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
	</div>
</div>