<%= stylesheet_link_tag    "devise" %>

<div id="devise_block">
	<div id="section_header"><%=t(:register)%></div>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			
			<% 
			browser = request.env['HTTP_USER_AGENT'] 
			ie = false
			ie = true if browser.include? "MSIE" or browser.include? "MSI"
			%>
			
			<%= t(:username) if ie %>
			<div><%= f.text_field :username, :placeholder => t(:username), :class => "devise_field" %></div><br>
			<%= t(:email) if ie %>
		  	<div><%= f.email_field :email, :placeholder => t(:email), :class => "devise_field" %></div><br>
			<%= t(:password) if ie %>
			<div><%= f.password_field :password, :placeholder => t(:password), :class => "devise_field" %></div><br>
			<%= t(:r_password) if ie %>
			<div><%= f.password_field :password_confirmation, :placeholder => t(:r_password), :class => "devise_field" %></div><br>

			<div><%= f.submit :id => "devise_button", :class => "btn-primary", :value => t(:register) %></div>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
</div>