<% if @comments.empty? %>

	<div class="comment_box">
		<div class="comment_body"><%=t(:no_comments)%></div>
	</div>

<% else %>

	<% comment_number = 0 %>
	<% @comments.each do |comment| %>
	
		<div id="comment_<%= comment.id %>" class="comment_box" <%= delete_actions(comment) %>>
			
			<div class="comment_header">#<%= comment_number+=1 %> 
				<span class="comment_author">
					<%= comment.user.username if comment.user != nil %>
					<%= comment.username if comment.user == nil %>
				</span> - <%= comment.created_at.strftime("%d/%m/%Y "+t(:at)+" %H:%M") %>
				<%= link_to raw("<span class='delete'>eliminar</span>"), delete_url(comment.id), :remote => true, :confirm => "Segur que vols esborrar aquest missatge?" %>
			</div>			
			<div class="comment_body"><%= auto_link(raw(comment.body.gsub(/\n/, '<br>')), :html => { :target => '_blank' }) %></div>
			<div class="comment_social <%= "comment#{comment.id}" %>">
				
			<%= render :partial => 'comments/votes', :locals => {:comment => comment} %>
			
			</div>
		</div>

	<% end %>

<% end %>
