<div id="comments_header"><%=t(:comments)%></div>
<% require "rails_autolink" %>
<%= render :partial => 'comments/box'%>

<div id="comments_header"><%=t(:add_comment)%></div>

<% if user_signed_in? %>
	<p><%=t(:logged_as)%> <b><%= current_user.username %></b>. <%=t(:if_not_you)%> <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete %>.</p>
	
	<%= @fail_comment %>
	
	<%= render :partial => 'comments/form', :locals => {:id => id, :type => type} %>

<% else %>
	
	<p><%=t(:user_required_comments)%></p>
	 <%= link_to t(:register), new_user_registration_path %> <%=t(:or)%> <%= link_to t(:sign_in), new_user_session_path %>
	
<% end %>