<% articles.each do |article| %>
	<div class="articleBoxContent">
		<div class="article_title"><%= link_to article.title, article_path(article) %></div>
		<div style="margin-bottom:5px;">
			<span class="article_author"><%= article.author.upcase %></span>
			<span class="article_date">&nbsp;&nbsp;|&nbsp;&nbsp;<%= article.category.name %> - <%= format_date %></span>
		</div>
		<div class="article_img_div">	
		<% if(article.avatar.url(:medium) != "/avatars/medium/missing.png") %>
			<%= link_to (image_tag article.avatar.url(:medium) , :class => "article_img", :border => 0), article_path(article) %>
		<% end %>
		</div>
		<div class="article_preview"><%= article.resume %>...</div>
		<div class="article_info">
			<div class="article_comments">
				<%= image_tag "ico/comment.png", :class => "thumb_img" %> <%= article.article_comments.count %> comentaris
			</div>
		</div>
	</div>
<% end %>