<% x = 0 %>
<% articles.each do |article| %>

	<%= render :partial => 'banner', :locals => {:ad_zone => ad_zone, :ad_code => ad_code} if x == pos.to_i %>
	
	<% unless facebook_pos.nil? %>
	<%= render :partial => 'facebook_social', :locals => { :code => facebook_code } if x == facebook_pos.to_i%>
	<% end %>
	
	<%= render :partial => 'twitter_social' if x == Configuration.value(:twitter_plugin_pos).to_i and twitter %>
	
	<div class="articleBoxContent <%= "lastBox" if article == articles.last %>">
		<div class="article_title"><%= link_to article.title, article_path(article) %></div>
		<div class="article_subtitle"><%= article.subtitle %></div>
		<div style="margin-bottom:5px;">
			<span class="article_author"><%= article.author.upcase if article.author %></span>
			<span class="article_date">&nbsp;&nbsp;|&nbsp;&nbsp;<%= article.category.name %> - <%= article.published_date.strftime("%d/%m/%Y") %></span>
		</div>
		<div class="article_img_div">	
			<% if article.images.first %>
				<%= link_to (image_tag article.images.first.image.url(:medium) , :class => "article_img", :border => 0), article_path(article) %>
			<% end %>
		</div>
		<div class="article_preview"><%= article.resume %></div>
		<div class="article_info">
			<div class="article_comments">
				<%= image_tag "ico/comment.png", :class => "thumb_img" %> <%= pluralize(article.comments.where(:active => true).count,t(:singular_comment),t(:plural_comments)) %>
			</div>
		</div>
	</div>
	<% x += 1 %>
<% end %>