<div id="article_category"><%= @article.category.name %></div>
<div id="article_info">
	<span id="article_author"><%= @article.author.upcase %></span>
	<span id="article_date">&nbsp;&nbsp;|&nbsp;&nbsp;<%= @article.published_date.strftime("%m/%d/%Y")  %></span>
</div>

<%= render :partial => 'addThis' %>

<div id="article_title"><%= @article.title %></div>

<div>
<% if(@article.avatar.url(:detail) != "/avatars/detail/missing.png") %>
	<%= image_tag @article.avatar.url(:detail) %>
<% end %>
</div>

<div id="article_body"><%=raw @article.body %></div>

<%= render :partial => 'addThis' %>

<div id="article_comments_header">Comments</div>

<%= render :partial => 'article_comments/box'%>

<div id="article_comments_header">Add a comment</div>

<%= render :partial => 'article_comments/addComment', :locals => {:article => @article} %>
