<div id="article_category"><%= @article.category.name %></div>
<div id="article_info">
	<span id="article_author"><%= @article.author.upcase if @article.author %></span>
	<span id="article_date">&nbsp;&nbsp;|&nbsp;&nbsp;<%= @article.published_date.strftime("%d/%m/%Y")  %></span>
</div>

<%= render :partial => 'addThis' %>

<div id="article_title"><%= @article.title %></div>
<div id="article_subtitle"><%= @article.subtitle %></div>
<div id="article_image">
	<% image = @article.standar_images.first 
	if(image) %>
		<%= image_tag image.image.url(:detail), :class => 'article_image' %>
		
		<% unless image.image_foot.nil? or image.image_foot.empty? %>
			<span id="article_foot"><%= image.image_foot %></span>
		<% end %>
		
	<% end %>
</div>

<%= render :partial => 'image_gallery' %>

<div id="article_body"><%=raw @article.prepared %></div>

<%= render :partial => 'addThis' %>

<div id="article_comments_header"><%=t(:comments)%></div>

<%= render :partial => 'article_comments/box'%>

<div id="article_comments_header"><%=t(:add_comment)%></div>
<%=@comment%>
<%= render :partial => 'article_comments/addComment', :locals => {:article => @article} %>
