<div id="article_category"><%= @article.category.name %></div>
<div id="article_info">
	<span id="article_author"><%= @article.author.upcase if @article.author %></span>
	<span id="article_date">&nbsp;&nbsp;|&nbsp;&nbsp;<%= @article.published_date.strftime("%d/%m/%Y")  %></span>
</div>

<%= render :partial => 'addThis' %>

<div id="article_title"><%= @article.title %></div>
<div id="article_subtitle"><%= @article.subtitle %></div>
<div id="article_image">
	<% if(@article.images.first) %>
		<%= image_tag @article.images.first.image.url(:detail), :class => 'article_image' %>
		
		<% unless @article.images.first.image_foot.nil? %>
			<span id="article_foot"><%= @article.images.first.image_foot %></span>
		<% end %>
		
	<% end %>
</div>

<%= render :partial => 'image_gallery' %>

<div id="article_body"><%=raw @article.body %></div>

<%= render :partial => 'addThis' %>

<div id="article_comments_header"><%=t(:comments)%></div>

<%= render :partial => 'article_comments/box'%>

<div id="article_comments_header"><%=t(:add_comment)%></div>

<%= render :partial => 'article_comments/addComment', :locals => {:article => @article} %>
