<%= stylesheet_link_tag    "articleBox","articles" %>

<div class="white">
	<div class="col_left general">
		<p id="news_header"><%= t(:news)%></p>
		<%= render :partial => 'box', :locals => {:articles => @articles, :ad_zone => Configuration.value(:openx_home_zone_a), :ad_code => Configuration.value(:openx_home_code_a), :pos => Configuration.value(:openx_pos_home_a)} %>
	</div>
	<div class="col_mid sports">
		<p id="sports_header"><%= t(:sports)%></p>
		<%= render :partial => 'box', :locals => {:articles => @articles_sport, :ad_zone => Configuration.value(:openx_home_zone_b), :ad_code => Configuration.value(:openx_home_code_b), :pos => Configuration.value(:openx_pos_home_b)} %>
	</div>
	<div class="col_right opinion"> 
		<p id="opinion_header"><%= t(:opinion)%></p>
		<%= render :partial => 'box', :locals => {:articles => @articles_opinion, :ad_zone => Configuration.value(:openx_home_zone_c), :ad_code => Configuration.value(:openx_home_code_c), :pos => Configuration.value(:openx_pos_home_c)} %>
	</div>
</div>
