<%= stylesheet_link_tag    "articleBox","articles" %>

<div class="row white">
	<div class="span4">
		<p id="news_header"><%= t(:news)%></p>
		<%= render :partial => 'box', :locals => {:articles => @articles} %>
	</div>
	<div class="span4">
		<p id="sports_header"><%= t(:sports)%></p>
		<%= render :partial => 'box', :locals => {:articles => @articles_sport}%>
	</div>
	<div class="span4"> 
		<p id="opinion_header"><%= t(:opinion)%></p>
		<%= render :partial => 'box', :locals => {:articles => @articles_opinion}%>
	</div>
</div>
