<%= stylesheet_link_tag    "details","articles" %>

<div class="white">
	<div class="col_left_article">
		<%= render :partial => 'details', :locals => {:article => @articles} %>
	</div>
	<div class="col_right_article">
		<%= render :partial => 'banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_a), :ad_code => Configuration.value(:openx_inner_code_a)} %>
			
		<%= render :partial => 'polls/box', :locals => {:poll => @poll} %>
			
		<%= render :partial => 'moved', :locals => {:article => @articles} %>		
			
		<%= render :partial => 'banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_b), :ad_code => Configuration.value(:openx_inner_code_b)} %>
	</div>
</div>