<%= stylesheet_link_tag    "the_mosts" %>

<br />
<div class="row">
	<div class="span4">
		<p class="mostTitle"><%= t(:more_commented)%></p>
		<%= render :partial => 'most_box', :locals => {:articles => @articles_commented} %>
	</div>
	<div class="span4">
		<p class="mostTitle"><%= t(:more_viewed)%></p>
		<%= render :partial => 'most_box', :locals => {:articles => @articles_viewed} %>
	</div>
	<div class="span4">
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_a), :ad_code => Configuration.value(:openx_inner_code_a)} %>	
		<br />
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_b), :ad_code => Configuration.value(:openx_inner_code_b)} %>
		<br />
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_c), :ad_code => Configuration.value(:openx_inner_code_c)} %>
	</div>
</div>
