<%= stylesheet_link_tag    "real_time" %>

<div class="white">
	<div id="section_header"><%=t(:real_time)%></div>
	<div class="padding">
		<div class="filter"><%= t(:filter)%> :
			
			<button class="btn-comment btn btn-success btn-mini"><i class="icon-comment icon-white"></i> <%=t(:comment)%>s</button>
			<button class="btn-new btn-info btn btn-mini"><i class="icon-plus icon-white"></i> <%=t(:new)%>s</button>
			<button class="btn-vote btn btn-danger btn-mini"><i class="icon-ok icon-white"></i> <%=t(:vote)%>s</button>
		</div>
		<p><%= t(:real_time_explaining)%></p><br><br>
		<div class="alert alert-info"><b>Espera! </b>Estem treballant per millorar aquesta secció. Tornarà a estar disponible tant aviat com sigui possible. Gràcies!</div>
	</div>
</div>