<%= stylesheet_link_tag    "real_time" %>
<%= javascript_include_tag    "real_time" %>

<div class="white">
	<div id="section_header"><%=t(:real_time)%></div>
	<div class="padding">
		<div class="filter"><%= t(:filter)%> :
			
			<button class="btn-comment btn btn-success btn-mini"><i class="icon-comment icon-white"></i> <%=t(:comments)%></button>
			<button class="btn-article btn-info btn btn-mini"><i class="icon-flag icon-white"></i> <%=t(:news)%></button>
			<button class="btn-vote btn btn-danger btn-mini"><i class="icon-ok icon-white"></i> <%=t(:vots)%></button>
		</div>
		<p><%= t(:real_time_explaining)%></p>
		<% 
		votes_array = [] 
		date1 = false
		date2 = false
		date3 = false
		%>
		<% @objects.each do |object| %>
		
		<% if date1 == false %>
			<div class="date"><% date1 = object.created_at.strftime('%d/%m/%y')%><%=t(:today)%></div>
		<% end %>
		
		<% if object.created_at.strftime('%d/%m/%y') < date1 and date2 == false %>
			<div class="date"><%= t(:yesterday) %></div>
			<% date2 = object.created_at.strftime('%d/%m/%y') %>
		<% end %>
		
		<% if date2 != false %>
		<% if object.created_at.strftime('%d/%m/%y') < date2 and date3 == false %>
			<div class="date"><%= I18n.localize object.created_at, :format => '%A' %></div>
			<% date3 = true %>
		<% end %>
		<% end %>
		
			<% if object.class.to_s == 'Article' %>
			
				<%= render :partial => "box", :locals => {:type => "article", :object => object} %>

			<% elsif object.class.to_s == 'ArticleComment' %>
			
				<%= render :partial => "box", :locals => {:type => "comment", :object => object} %>
				
			<% else %>
			
				<% if votes_array.include? object.article_comment.article %>
				<% else %>
					<% 
					total = vote_multiple(@votes,object)
					if total > Configuration.value(:real_time_votes).to_i %>
						<%= render :partial => "box", :locals => {:count => total, :type => "vote", :object => object} %>
						<% votes_array << object.article_comment.article %>
					<% end %>
				<% end %>
					
			<% end %>
		<% end %>
	</div>
</div>