<%= stylesheet_link_tag    "real_time" %>

<div class="white">
	<div id="section_header"><%=t(:real_time)%></div>
	<div class="padding">
		<div class="filter"><%= t(:filter)%> :
			
			<button class="btn-comment btn btn-success btn-mini"><i class="icon-comment icon-white"></i> <%=t(:comment)%>s</button>
			<button class="btn-new btn-info btn btn-mini"><i class="icon-plus icon-white"></i> <%=t(:new)%>s</button>
			<!-- <button class="btn-vote btn btn-danger btn-mini"><i class="icon-ok icon-white"></i> <%#t(:vote)%>s</button> -->
		</div>
		<p><%= t(:real_time_explaining)%></p>
		
		<% date = [] %>
		
		<% @objects.each do |object| %>
		
		<% if objectOk(object) %>

			<!--Showing today header-->
			<% if object.created_at > Time.now.beginning_of_day and object.created_at < Time.now.end_of_day and date[0].nil? %>
	      		<div class='date'><%=t(:today)%></div>
	  			<% date[0] = true %>
	    	<% end %>
			<!--Showing yesterday header-->
			<% if object.created_at > Time.now.beginning_of_day-1.day and object.created_at < Time.now.end_of_day-1.day and date[1].nil? %>
	      		<div class='date'><%=t(:yesterday)%></div>
	  			<% date[1] = true %>
	    	<% end %>
			<!--Showing more than yesterday header-->
			<% if object.created_at > Time.now.beginning_of_day-2.day and object.created_at < Time.now.end_of_day-2.day and date[2].nil? %>
	      		<div class="date"><%= I18n.localize object.created_at, :format => '%A' %></div>
	  			<% date[2] = true %>
	    	<% end %>
	
		
			<% if object.subtype == "New" %>
		
				<%= render :partial => "new_box", :locals => {:type => object.trackeable_type, :object => object.trackeable, :subtype => object.subtype } %>
				
			<% end %>
			
			<% if object.trackeable_type == "Comment" %>
			
				<%= render :partial => "comment_box", :locals => {:type => object.trackeable_type, :object => object.trackeable, :user => object.user.username, :subtype => object.subtype} %>
			
			<% end %>
		<% end %>
		<% end %>
		
	</div>
</div>