<div id="footer">
	<div id="footer_container">
	<!--<div class="group"><% Configuration.value(:sitename)%>, <% t(:newspaper_group)%> <% link_to "pDigital","https://github.com/pekpon/pdigital" %></div>-->
	
	<div class="languaje foot_block">
		<span class="title">Idiomes</span><br><br>
		<%=image_tag "ca.png", :class => "flag" %> <%= link_to "Català", :locale => 'ca'%><br>
		<%=image_tag "es.png", :class => "flag" %> <%= link_to "Castellano", :locale => 'es' %>
	</div>
	
	<div class="foot_block">
		<span class="title">Continguts</span><br><br>
		<%= link_to t(:home), root_path %><br>
		<%= link_to t(:polls), polls_path %><br>
		<%= link_to t(:the_most), the_mosts_path %><br>
		<%= link_to t(:contact), contact_path %><br>
		<%= link_to t(:real_time), real_time_index_path %><br>
		<%= link_to t(:calendar), calendar_path %><br>
		<%= link_to t(:debates), debates_path %><br>
		<%= link_to t(:ads), "/#{I18n.locale}/contact" %>
	</div>
	
	<div class="license foot_block">
		<span class="title">Llicència</span><br><br>
		Sota llicència CC <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a><br /><br>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
	</div>
	
	<div class="foot_block">
		<span class="title"><%= Configuration.value(:sitename)%></span><br><br>
		<%= Configuration.value(:sitename)%> <%= Configuration.value(:foot_description)%><br><br><br>
		<%=link_to image_tag("foot_face.png", :class => "foot_social"), Configuration.value(:facebook_web), :target => "_blank"  %>
		<%=link_to image_tag("foot_twitter.png", :class => "foot_social"), Configuration.value(:twitter_web), :target => "_blank"  %>
		<%=image_tag "foot_rss.png", :class => "foot_social" %>
		<%=link_to image_tag("foot_you.png", :class => "foot_social"), Configuration.value(:youtube_channel), :target => "_blank" %>
	</div>
	</div>
	
</div>