<div class="navigation">
	<ul>
      	<li class="portada <%= "active" if controller.controller_name == 'articles' %>"><%= link_to t(:home), root_path %></li>
	  	<li class="portada <%= "active" if controller.controller_name == 'polls' %>" ><%= link_to t(:polls), polls_path %></li>
		<li class="portada"><%= link_to t(:the_mosts), the_most_path %></li>
      	<!--<li class="portada"><a href="http://papiolfm.com/" target="_blank">Papiol FM (Ràdio amiga)</a></li>-->
		<div class="clearFloat"></div>
   	</ul>
</div>