<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label t(:name) %>
    <%= f.text_field :name %> ej. Torneig de tennis
  </div>
  <div class="field">
    <%= f.label t(:description) %>
    <%= f.text_area :description, :class => "description" %>
  </div>
  <div class="field">
    <%= f.label t(:start_at) %>
    <%= datetime_select("event", "start_at")%>
  </div>
  <div class="field">
    <%= f.label t(:end_at) %>
    <%= datetime_select("event", "end_at")%>
  </div>
<br>
  <div class="actions">
    <%= submit_tag t(:add_event), :class => "btn btn-success" %>
  </div>
<% end %>