<%= stylesheet_link_tag    "events" %>

<div class="white">
	<div id="section_header"><%= t(:event) %></div>
	<div class="left_padding">
		<div class="name"><%= @event.name %></div>
		<div class="description_show">
		<% if @event.description.present? %>
		<%= raw(h(@event.description).gsub(/\n/, '<br/>')) %>
		<% else %>
		<%= t(:no_description)%>
		<% end %>
		</div>
		<div><b><%=t(:start_at)%>:</b> <%= @event.start_at.strftime("%d/%m/%Y %H:%Mh") %></div>
		<div><b><%=t(:end_at)%>:</b> <%= @event.end_at.strftime("%d/%m/%Y %H:%Mh") %></div>
		<br>
		
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eb40ebe270a9c2c"></script>
		<!-- AddThis Button END -->
		
	</div>
</div>