<%= stylesheet_link_tag    "events","comments" %>

<div class="white">
	<div id="section_header"><%= t(:event) %></div>

	<div class="col_left_article">
		<div id ="event_show_title"><%= @event.title %></div>
		<div id ="event_show_description"><%= raw(@event.full_description) %></div>
		<div class = "info_box"><i class="icon-time"></i> <b><%=t(:start_at)%>:</b> <%= @event.start_at.strftime("%d/%m/%Y %H:%Mh") %></div>
		<div class = "info_box"><i class="icon-time"></i> <b><%=t(:end_at)%>:</b> <%= @event.end_at.strftime("%d/%m/%Y %H:%Mh") %></div>
		<div class = "info_box"><i class="icon-flag"></i> <b><%=t(:location)%>:</b> <%= @event.location %></div>
		<br>
	
		<%= render :partial => "articles/addThis" %>
	
		<div id="event_comment_content">
			
		<%= render :partial => 'comments/show', :locals => {:id => @event.id, :type => "Event"} %>
		</div>
	</div>
	<div class="col_right_article">
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_a), :ad_code => Configuration.value(:openx_inner_code_a)} %>
	       <br>
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_b), :ad_code => Configuration.value(:openx_inner_code_b)} %>
	</div>
</div>