<% if debates.present? 
	i = 0%>
	<% debates.each do |debate| %>
	<% i = i+1 %>
	<a href="<%= "/#{I18n.locale}/debates/#{debate.slug}" %>">
		<div class="<%= "par" if i.even? %> debate_box">
			<div class="info">
				<span class="debate_title"><%= debate.title%></span>
				<span class="debate_author">by <b><%= debate.user.username %></b></span><br>
				<%= debate.description.slice(0,120) + "..." %>
			</div>
			
			<div class="debate_like">
			<div class="fb-like" data-href="http://www.papioldigital.com/ca/debates/<%=debate.slug%>" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false"></div>
			</div>
			
			<div class="replys"><%= c = debate.comments.where(:active => true).count %><br><span class="replys_word"><%= c == 1 ? t(:reply) : t(:replys) %></span></div>
			
		</div>
	</a>
	<% end %>
<% else %>
	<div class="no_debate">
		<div style="padding:10px;">
			<%= t(:no_debates)%>
		</div>
	</div>
<% end %>
