<%= stylesheet_link_tag "comments","debates" %>

<div class="white">
	<div id="section_header"><%= t(:debates) %></div>
	<div class="col_left_article">
		<div id="debate_title"><%= @debate.title %></div>
		<div id="debate_author"><i class="icon-user"></i> by <b><%= @debate.user.username %></b> | <span class="end_date"><%= t(:ends_at) + " " + @debate.end_date.strftime("%d/%m/%Y") + " " + t(:at) + " " + @debate.end_date.strftime("%H:%M")%></span></div>
		<div id="debate_description"><%= raw(@debate.description.gsub(/\n/, '<br>')) %></div>
		<div id="expand_box">
			<div id="info">
				<a class="stat" rel="popover" data-placement="top" data-content="<%= t(:total_views_content) %>" data-original-title="<%= t(:total_views) %>">
					<%= @debate.impressionist_count %>
					<br>
					<span class="text"><%=t(:total_views)%></span>
				</a>
				
				<a class="stat" rel="popover" data-placement="top" data-content="<%= t(:ip_views_content) %>" data-original-title="<%= t(:ip_views) %>">
					<%= @debate.impressionist_count(:filter=>:ip_address) %>
					<br>
					<span class="text"><%=t(:ip_views)%></span>
				</a>
				<a class="stat">
					<%= c = @debate.comments.where(:active => true).count %>
					<br>
					<span class="text"><%= c == 1 ? t(:reply) : t(:replys) %></span>
				</a>
				<a class="stat">
					<%= @debate.active_days %>
					<br>
					<span class="text"><%=t(:active_days)%></span>
				</a>
			</div>
			<div id="facebook">
				<div class="fb-like" data-href="http://www.papioldigital.com/ca/debates/<%=@debate.slug%>" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false">
			</div>
		</div>
		
		<%= render :partial => "comments/show", :locals => { :id => @debate.id, :type => "Debate" }%>
	</div>
	
	<div class="col_right_article">
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_a), :ad_code => Configuration.value(:openx_inner_code_a)} %>
	       <br>
		<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_inner_zone_b), :ad_code => Configuration.value(:openx_inner_code_b)} %>
	</div>
</div>
