<%= stylesheet_link_tag    "pages" %>

<div class="white">
	<div id="section_header"><%=t(:advertising)%></div>
	<div class="left_padding">
	<!--<div class="sub_section">Explicación</div>-->
	<div class="intro">
			<p>¿Tienes un negocio o una web que quieras publicitar? <%= Configuration.value(:sitename)%> es un periódico digital de ámbito local, lo cual significa que la mayoría de personas que verán tu anuncio serán potenciales clientes que residen en tu pueblo.</p>
			<p> Ofrecemos unos precios muy bajos, aptos para cualquier comercio o particular. <%= Configuration.value(:sitename)%> tiene una media de 150 visitas diarias. Eso significa que tu anuncio recibirá aproximadamente unas 4500 visualizaciones al mes a un precio más que bajo. Dependiendo el paquete de publicidad que decidas adquirir, más visitas recibirás. </p>
	</div>		
			
	<div class="sub_section">Ventajas</div>
	
	<ul>
		<li>
			<div class="img_item"><%= image_tag('people.png')%></div>
			<div class="text_item">
				<div class="item">Llega a los clientes que te interesan</div>
				<div class="description_item">La publicidad que se muestra en <%= Configuration.value(:sitename)%> es visualizada por un 95% de residentes, lo que significa, que tus anuncios irán destinados a los verdaderos clientes.</div>
			</div>
		</li>
		<li>
			<div class="img_item"><%= image_tag('money.png')%></div>
			<div class="text_item">
				<div class="item">Calidad a un precio tentador</div>
				<div class="description_item">Podrás poner un anuncio en la web desde 10€/mes. Si quieres aún más visitas ponemos a tu disposición dos packs más de 20 y 30 euros cada uno. Eso sin hacer referencia a las ofertas, con las que ahorrarás dinero por comprar un paquete de meses.</div>
			</div>
		</li>
		<li>
			<div class="img_item"><%= image_tag('calendar.png')%></div>
			<div class="text_item">
				<div class="item">Compra flexible</div>
				<div class="description_item">No obligamos a que compres un año de publicidad ,ni tan siquiera un número determinado de meses. Podrás escoger cuantos meses quieres poner la publicidad. Como si solo quieres probar un mes.</div>
			</div>
		</li>
		<li>
			<div class="img_item"><%= image_tag('refresh.png')%></div>
			<div class="text_item">
				<div class="item">Publicidad dinámica</div>
				<div class="description_item">Si en tu negocio haces normalmente ofertas o promociones, esto te va a encantar. Podrás cambiar tantas veces como quieras el anuncio, de tal forma que nuestros usuarios verán tu publicidad actualizada y se enterarán de las ofertas que anuncias.</div>
			</div>
		</li>
	</ul>
	
	<div class="sub_section">Precios</div>
	
	<div class="packs">
		<div id="pack_1" class="pack">
			<div class="pack_price">10€/mes</div>
			<div class="pack_content">Anuncios en portada</div>
			<div class="pack_views">Visualizaciones: 1000</div>
		</div>
		<div id="pack_2" class="pack">
			<div class="pack_price">20€/mes</div>
			<div class="pack_content">Anuncios en interiores</div>
			<div class="pack_views">Visualizaciones: 3500</div>
		</div>
		<div id="pack_3" class="pack">
			<div class="pack_price">30€/mes</div>
			<div class="pack_content">Portada + Interiores</div>
			<div class="pack_views">Visualizaciones: 4500</div>
		</div>
	</div>
	<div class="views_aprox">*las visualizaciones son aproximadas</div>
	
	<div class="sub_section">Promociones</div>
	
	<div class="promo">
		Compra un año de publicidad y te regalamos 2 meses (solo pagas 10 meses)
	</div>	
	<div class="promo">
		Compra medio año de publicidad y te regalamos 1 mes (solo pagas 5 meses)
	</div>
	
	<div class="sub_section">Contáctanos</div>
	
	<div class="">Para más información o contratar uno de los paquetes de publicidad: <%= link_to "Contactar", contact_path %></div>
	
	
	</div>
</div>