<%= stylesheet_link_tag    "devise" %>

<div class="row white">
	<div class="span3">
		<div class="left_padding">
			<h2>Sign in</h2>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<br>
			 <div><%= f.text_field :email, :placeholder => "User", :class => "input_signin" %></div>
			<br>
			 <div><%= f.password_field :password, :placeholder => "Password", :class => "input_signin" %></div>
			<br>
			 <% if devise_mapping.rememberable? -%>
			   <div><%= f.check_box :remember_me %> Remember me</div>
			 <% end -%>
			<br>
			 <div><%= f.submit :id => "signin_button", :class => "btn-success span3", :value => "Sign In" %></div>
			<% end %>

			<%= render :partial => "devise/shared/links" %>
		</div>
	</div>
</div>