<%= stylesheet_link_tag    "devise" %>

<div id="devise_block">
	<div id="section_header"><%=t(:sign_in)%></div>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<br>
			<% 
			browser = request.env['HTTP_USER_AGENT'] 
			ie = false
			unless browser.nil?
				ie = true if browser.include? "MSIE" or browser.include? "MSI"
			end
			%>
			
			<%= t(:email) if ie %>
			 <div><%= f.text_field :email, :placeholder => t(:email), :class => "input_signin devise_field" %></div>
			<br>
			<%= t(:password) if ie %>
			 <div><%= f.password_field :password, :placeholder => t(:password), :class => "input_signin devise_field" %></div>
			<br>
			 <% if devise_mapping.rememberable? -%>
			   <div><%= f.check_box :remember_me %> <%=t(:remember)%></div>
			 <% end -%>
			<br>
			 <div><%= f.submit :id => "devise_button", :class => "btn-success", :value => t(:sign_in) %></div>
			<% end %>

			<%= render :partial => "devise/shared/links" %>
		
</div>
