<%= stylesheet_link_tag    "devise" %>

<div class="row_sign"
	<div id="sign_in">
		<h2>Sign in</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<br>
		 <div><%= f.text_field :email, :placeholder => "User" %></div>
		<br>
		 <div><%= f.password_field :password, :placeholder => "Password" %></div>
		<br>
		 <% if devise_mapping.rememberable? -%>
		   <div><%= f.check_box :remember_me %> Remember me</div>
		 <% end -%>
		<br>
		 <div><%= f.submit :class => "btn primary span4", :value => "Sign In" %></div>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
	</div>
	<div id="sign_info">
	<h1>Ara, més PapiolDigital que mai!</h1>
	<p>Ser usuari registrat només et donarà avantatges!</p>
	<h1>1.</h1><h1>2.</h1><h1>3.</h1>
	</divs>
</div>