<%= stylesheet_link_tag    "devise" %>

<div class="user_account_alert">
	Papioldigital ha millorat la seva infraestructura web i la teva contrasenya antiga  ja no és valida. Hem enviat un mail amb instruccions sobre com canviarla. Si no l'has rebut, pots demanar una nova fent clic a l'enllaç de sota: Has perdut la contrasenya?<br><br>Gràcies
	</div>

<div class="white">
	<div id="section_header"><%=t(:sign_in)%></div>
		<div class="left_padding">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<br>
			<% 
			browser = request.env['HTTP_USER_AGENT'] 
			ie = false
			unless browser.nil?
				ie = true if browser.include? "MSIE" or browser.include? "MSI"
			end
			%>
			
			<%= t(:email) if ie %>
			 <div><%= f.text_field :email, :placeholder => t(:email), :class => "input_signin" %></div>
			<br>
			<%= t(:password) if ie %>
			 <div><%= f.password_field :password, :placeholder => t(:password), :class => "input_signin" %></div>
			<br>
			 <% if devise_mapping.rememberable? -%>
			   <div><%= f.check_box :remember_me %> <%=t(:remember)%></div>
			 <% end -%>
			<br>
			 <div><%= f.submit :id => "signin_button", :class => "btn-success span3", :value => t(:sign_in) %></div>
			<% end %>

			<%= render :partial => "devise/shared/links" %>
		</div>
</div>
