<%= stylesheet_link_tag    "contact","devise" %>

<div class="white">
	<div id="section_header"><%=t(:contact)%></div>
	<div class="left_padding">
	<%= form_for @message, :url => contact_path do |form| %>
	  <fieldset class="fields">
	    <% 
			browser = request.env['HTTP_USER_AGENT'] 
			ie = false
			ie = true if browser.include? "MSIE" or browser.include? "MSI"
			%>
			
			<%= t(:name) if ie %><div class="field">
			
	      <%= form.text_field :name, :class => 'span4', :placeholder => t(:name) %>
	    </div>
	<br>
	    <%= t(:email) if ie %><div class="field">
		
	      <%= form.text_field :email, :class => 'span4', :placeholder => t(:email) %>
	    </div>
	<br>
	    <%= t(:subject) if ie %><div class="field">
		
	      <%= form.text_field :subject, :class => 'span4', :placeholder => t(:subject) %>
	    </div>
	<br>
	    <%= t(:body) if ie %><div class="field">
		
	      <%= form.text_area :body, :rows => 5, :class => 'textarea_contact', :placeholder => t(:body) %>
	    </div>
	<br>
			<%= show_simple_captcha %>
	  </fieldset>

	  <fieldset class="actions">
	    <%= form.submit t(:send), :class => 'btn-primary btn-large span4' %>
	  </fieldset>
	<% end %>
	</div>
</div>