<%= stylesheet_link_tag    "categories","articles" %>

<div class="row white">
	<div id="section_header">Categories</div>
	<div class="span4 categoryBox">
		<% @categories.each_with_index do |category,index| %>	
		<% if (index-3)%3 == 0 %>
			<h1><%= link_to category.name, category_path(category) %></h1>
			<p>There are <%= category.articles.count %> articles in this category</p>
		<% end %>
		<% end %>
	</div>
	<div class="span4 categoryBox">
		<% @categories.each_with_index do |category,index| %>	
		<% if (index-1)%3 == 0 %>
			<h1><%= link_to category.name, category_path(category) %></h1>
			<p>There are <%= category.articles.count %> articles in this category</p>
		<% end %>
		<% end %>
	</div>
	<div class="span4 categoryBox">
		<% @categories.each_with_index do |category,index| %>	
		<% if (index-2)%3 == 0 %>
			<h1><%= link_to category.name, category_path(category) %></h1>
			<p>There are <%= category.articles.count %> articles in this category</p>
		<% end %>
		<% end %>
	</div>
</div>
