<%= stylesheet_link_tag    "categories" %>

<div class="row white">
	<div id="categories_header"><%= @category.name %></div>
	<div class="span16">
		<% if @articles.empty? %>
		
		<p>There aren't articles in this category</p>
		
		<% else %>
		
		<% @articles.each do |article| %>	
			<h1><%= link_to article.title, article_path(article) %></h1>
			<p><%= link_to (image_tag article.image, :width => "300px", :border => "0"), article_path(article) %></p>
			<p><%= article.body %></p>
		<% end %>

		<% end %>
	</div>
</div>
