<%= stylesheet_link_tag    "categories" %>

<div id="section_header"><%= @category.name %></div>
<%= paginate @articles %>
<div class="row">
	
		<% if @articles.empty? %>
		
		<p class="no_message"><%=t(:no_articles_category)%></p>
		
		<% else %>
		
		<div class="span4">
		
		<% @articles.each_with_index do |article,index| %>	
			<% if (index-2)%2 == 0 %>
				
				<%= render :partial => 'blok', :locals => {:article => article} %>
				
			<% end %>
		<% end %>
		
		</div>
		<div class="span4">
		
		<% @articles.each_with_index do |article,index| %>	
			<% if (index-1)%2 == 0 %>
				
				<%= render :partial => 'blok', :locals => {:article => article} %>
				
			<% end %>
		<% end %>
		
		</div>
		<div class="span4">
			<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_article_zone_b), :ad_code => Configuration.value(:openx_article_code_b)} %>
			
			<div class="ads_cleaner"></div>
			
			<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_article_zone_a), :ad_code => Configuration.value(:openx_article_code_a)} %>
			
			<div class="ads_cleaner"></div>
			
			<%= render :partial => 'articles/banner', :locals => {:ad_zone => Configuration.value(:openx_home_zone_a), :ad_code => Configuration.value(:openx_home_code_a)} %>
		</div>
		
		<% end %>
	
</div>
<%= paginate @articles %>
