<!DOCTYPE html>
<html>
<head>
  <title>Papiol Digital</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", "base", "style", "styles" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
<%= image_tag "logodigital_new.png" %><%= image_tag "silueta.png" %>
</div>
<%= render :partial => 'shared/navigation'%>

<%= render :partial => 'shared/categories'%>

<%= yield %>

</body>
</html>