<!DOCTYPE html>
<html>
<head>
  <title>Papiol Digital</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", "base", "style", "styles", "article_comments" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
<%= image_tag "logodigital_new.png" %><%= image_tag "silueta.png" %>
</div>
<%= render :partial => 'shared/navigation'%>

<%= render :partial => 'shared/categories'%>

<p class="notice">
	<% if notice.blank? %>
	<% else %>
	
		<div class="alert-message success span16 middle">
		  <a class="close" href="#">×</a>
		  <p><%= notice %></p>
		</div>
	<% end %>
</p>
<p class="alert">
	
	<% if alert.blank? %>
	<% else %>
	
		<div class="alert-message alert span16 middle">
		  <a class="close" href="#">×</a>
		  <p><%= alert %></p>
		</div>
		<br />
	<% end %>
	
</p>

<%= yield %>

</body>
</html>