<!DOCTYPE html>
<html>
<head>
  <title><%= Configuration.value(:title_site)%></title>

	<%=  raw(Configuration.value(:openx_header)) %>

	<%= stylesheet_link_tag "application"  %>
	<%= javascript_include_tag "application" %>
	<%= include_imperavi_javascript %>
	<%= include_imperavi_stylesheet %>
	<%= csrf_meta_tags %>

	<%= render :partial => 'shared/facebook_tags' %>
	
	<%= render :partial => 'shared/analitycs_code' %>
	
	<link rel="icon" href="/favicon.ico" type="image/ico" />
	
	<%= auto_discovery_link_tag(:rss, request.env['HTTP_HOST']+"/rss.xml") %>
	
</head>
<body>
<div class="container">
	
	<%= render :partial => 'shared/usersblock' %>

	<%= render :partial => 'shared/header' %>

	<%= render :partial => 'shared/navigation' %>

	<%= render :partial => 'shared/categories' %>

	<%= render :partial => 'shared/alerts' %>

	<%= yield %>
	
	<%= render :partial => 'shared/footer' %>

</div>
</body>
</html>