<!DOCTYPE html>
<html>
<head>
  <title>Papiol Digital</title>
  <%= stylesheet_link_tag  "base","bootstrap", "style", "styles", "article_comments", "application" %>
  <%= javascript_include_tag "application" %>
  <%= include_imperavi_javascript %>
  <%= include_imperavi_stylesheet %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	
	<%= render :partial => 'shared/usersblock' %>

	<%= render :partial => 'shared/header' %>

	<%= render :partial => 'shared/navigation' %>

	<%= render :partial => 'shared/categories' %>

	<%= render :partial => 'shared/alerts' %>

	<%= yield %>

</div>
</body>
</html>